@model TaskTrackerApp.Models.Todo

@{
    ViewData["Title"] = "Details";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Details
                </div>
                <div class="card-body">
                    <dl class="text-start">
                        <dt>
                            @Html.DisplayNameFor(model => model.TaskTodoName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TaskTodoName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.TaskTodoDescription)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TaskTodoDescription)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.TaskTodoDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TaskTodoDate)
                        </dd>
                    </dl>

                    <div class="d-flex justify-content-center mt-2">
                        <a asp-action="Edit" asp-route-id="@Model?.TaskTodoId" class="btn btn-warning mx-1">Edit</a>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mx-1">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

