@model TaskTrackerApp.Models.Todo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Todo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTodoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskTodoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTodoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskTodoDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTodoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskTodoDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskTodoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
